# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.cpp text working-tree-encoding=UTF-8
*.hpp text working-tree-encoding=UTF-8
*.inl text working-tree-encoding=UTF-8

# libs code isolation
libs/** linguist-vendored

# Not comon langs lighting
*.sc linguist-language=glsl
